<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KUMO - 로그인</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<link rel="stylesheet" th:href="@{/css/NonLogin/login.css}">
</head>
<body>

<div th:replace="~{NonLoginFragments/NonLoginHeader :: headerFragment}"></div>

<main class="login-container">
	<div class="login-box">
        <div class="login-header">
            <h1 th:text="#{login.title}">로그인</h1>
            <p th:text="#{login.subtitle}">회원에게는 더 다양한 혜택이 제공됩니다.</p>
        </div>

        <form id="form" th:action="@{/loginProc}" method="post">
            <div class="input-group">
                <label class="input-label" th:text="#{login.label.id}">아이디</label>
                <input type="text" name="email" class="custom-input"
                       th:placeholder="#{login.placeholder.id}" required>
            </div>

            <div class="input-group">
                <label class="input-label" th:text="#{login.label.pw}">비밀번호</label>
                <input type="password" name="password" class="custom-input"
                       th:placeholder="#{login.placeholder.pw}" required>
            </div>

            <div class="options-row">
                <label class="checkbox-container" for="saveId">
                    <input type="checkbox" id="saveId">
                    <span th:text="#{login.save.id}">아이디 저장</span>
                </label>

                <div class="find-links">
                    <a th:href="@{/FindId}" class="forgot-id" th:text="#{login.forgot.id}">아이디 찾기</a>
                    <span class="separator" style="color: #ccc; margin: 0 5px;">|</span>
                    <a th:href="@{/FindPw}" class="forgot-pw" th:text="#{login.forgot.pw}">비밀번호 찾기</a>
                </div>
            </div>

            <div id="login-error-container" class="login-error-msg"
                 th:style="${param.error} ? 'display: flex;' : 'display: none;'">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span id="login-error-text" th:text="#{login.error.fail}">아이디 또는 비밀번호가 일치하지 않습니다.</span>
            </div>

            <div id="captchaArea" style="display: none; margin-bottom: 20px; justify-content: center; width: 100%;">
                <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('google.recaptcha.site-key')}"></div>
            </div>

            <button type="submit" class="btn-login" th:text="#{login.btn.submit}">로그인</button>
        </form>

        <button type="button" class="social-btn" onclick="alertSns()">
            <img th:src="@{/images/NonLogin/googleLogo.svg}" class="social-icon" alt="Google">
            <span th:text="#{login.btn.google}">Google로 연결</span>
        </button>
        <button type="button" class="social-btn" onclick="alertSns()">
            <img th:src="@{/images/NonLogin/lineLogo.svg}" class="social-icon2" alt="Line">
            <span th:text="#{login.btn.line}">LINE으로 연결</span>
        </button>

        <div class="signup-link">
            <span th:text="#{login.not.member}">회원이 아니신가요?</span>
            <a th:href="@{/join}" th:text="#{login.signup}">회원가입</a>
        </div>
    </div>
</main>

<div th:replace="~{NonLoginFragments/NonLoginFooter :: footerFragment}"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:inline="javascript">
    /* <![CDATA[ */
    const loginMessages = {
        // 주석 형식을 사용하면 타임리프가 해당 키를 찾았을 때 뒤의 '기본값'을 덮어씁니다.
        sns_alert:     /*[[#{login.sns.alert}]]*/ 'SNS 알림입니다.',
        captcha_error: /*[[#{login.captcha.error}]]*/ '캡차 인증에 실패했습니다.',
        error_title:   /*[[#{login.swal.error_title}]]*/ '로그인 실패',
        error_text:    /*[[#{login.error.fail}]]*/ '아이디 또는 비밀번호가 일치하지 않습니다.'
    };
    /* ]]> */
</script>
<script th:src="@{/js/NonLogin/login.js}"></script>

</body>
</html>